html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="docs/css/main.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
        title Become A Minimalist-HOME
    body
        .header
            a.title.home.onPage(href="index.html") HOME
            a.title.method(href="docs/html/method.html") METHOD
            a.title.information(href="docs/html/information.html") INFORMATION
            .changeLanguage
                a(href="https://twby.github.io/Minimalism/")
                    img.LanguageBtn.chBtn(src="docs/asset/img/Language/中按鈕.png", alt="", srcset="")

        
        .Content
            .LandingPages
                .Texts
                    .Text
                        .char B
                        .char e
                        .char c
                        .char o
                        .char m
                        .char e
                    .Text 
                        img.logo(src="docs/asset/img/logo.png", alt="", srcset="") 
                        span.char A
                    .Text
                        .char M
                        .char i
                        .char n
                        .char i
                        .char m
                        .char a
                        .char l
                        .char i
                        .char s
                        .char t
                img.sparrow(src="docs/asset/img/sparrow.jpg", alt="", srcset="")
            .StreetInterview
                .StreetContent
                    .line.lineOne
                        img.logo(src="docs/asset/img/logo.png", alt="", srcset="")
                        .videoTitle Street interviews What is minimalist ?
                        .bottom_line
                    .intro.introStreet  
                            | 
                            | Do you know what you really need<br>to live an ideal life?<br>
                            <br>
                            | Think more about these things in  daily life.<br>
                            | It may be a breakthrough point for you.<br>
                            <br>
                            | Minimalist makes things in life<br>more meaningful.<br>
                            |And every little thing stacked up in your life <br>will also be more valuable.<br> 
    
                    .videoArea
                        img.StreetImg(src="docs/asset/img/videocover/street.jpg", alt="", srcset="")
                        .video-toggle.StreetToggle(onclick="videoSetting(this,0)")
                            .video-toggle-inner.video-toggle-inner-street
                                video.video__player(loop)
                                    source.StreetVideo(src='docs/asset/video/極簡街訪.mp4' type='video/mp4')
                    .videoButton
                        input.video__track.video__track__range(type='range' step='1' min='0' max='100' value='0')
                    .StreetButton
                        a.changePage.world(href="docs/html/map.html") Observe the world's minimalists &nbsp; > >
            .PeopleInterview
                .PeopleContent
                    .line.lineTwo 
                        img.logo(src="docs/asset/img/logo.png", alt="", srcset="")
                        .videoTitle Interview with the minimalists around
                        .bottom_line
                    .intro.introPeople
                            <br>
                            | "Minimalism" is a way to explore life.<br>
                            
                            | It allows us to work under limited conditions,<br>
                            | Urging us to discover the priorities of things,<br>
                            | Clarify the true ideals,<br>
                            | Let the pay more efficient recycling,<br>
                            | Learn to cherish every harvest,<br>
                            <br>
                            | “Hopes that you can over get the happiness.”<br>
                            | is probably what the minimalists<br>expect of each other.
                    .videoArea
                        img.StreetImg(src="docs/asset/img/videocover/daily.jpg", alt="", srcset="")
                        .video-toggle.PeopleToggle(onclick="videoSetting(this,1)")
                            .video-toggle-inner.video-toggle-inner-people
                                video.video__player(loop)
                                    source.PeopleVideo(src='docs/asset/video/極簡主義的日常.mp4' type='video/mp4')
                    .videoButton
                        input.video__track.video__track__range(type='range' step='1' min='0' max='100' value='0')
                    .PeopleButton
                        a.changePage.test(href="docs/html/method.html") Test to see which subtraction rule is right for you &nbsp; > >
        a.js-btn
            i.fas.fa-chevron-up
        

        .footer
            a.footerObj.about about us
            a.footerObj.title.method Planning reason
            .footerObj.copyright &copy; 2019 Become A Minimalist All Rights Reserved NEWSROOM Team 
        script(src="docs/js/script.js")