@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Harmattan|Noto+Sans+TC|Noto+Serif+TC");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-weight: 500;
  font-family: Noto Sans TC;
  color: #3f3f38; }

body, html {
  margin: 0;
  width: 1920px;
  background-color: #f8f8f8; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 13%;
  z-index: 100; }
  .header .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 12%;
    height: 100%;
    margin-right: 3%;
    font-size: 32px;
    letter-spacing: 2.6px;
    text-decoration: none;
    font-family: Harmattan;
    padding: 0 20px; }
    .header .title .home {
      margin-right: 2%; }

.changeLanguage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 3.0%; }

.LanguageBtn {
  width: 40px;
  height: 40px; }

.onPage {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-box-shadow: 0px 5px 5px #cccccc;
  box-shadow: 0px 5px 5px #cccccc;
  background-color: #e3e4e7; }

.onPage {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-box-shadow: 0px 5px 5px #cccccc;
  box-shadow: 0px 5px 5px #cccccc;
  background-color: #e3e4e7; }

.footer {
  background-color: #d1cec6;
  width: 100%;
  height: 5.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .footer .footerObj {
    font-size: 18px;
    margin-left: 2%;
    background-color: transparent; }

.js-btn {
  width: 50px;
  height: 50px;
  background: #494c49;
  position: fixed;
  bottom: 10%;
  left: 4%;
  border-radius: 35px;
  opacity: 0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .js-btn i {
    color: #fff;
    position: relative;
    top: -2px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: transparent; }
  .js-btn:hover {
    background: rgba(0, 0, 0, 0.9); }
    .js-btn:hover i {
      color: #fff;
      top: -5px; }

.fade {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.checkbtn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 200px;
  left: 200px;
  width: 300px;
  height: 5%;
  z-index: 100; }
  .checkbtn .btn {
    text-align: center;
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 20px;
    letter-spacing: 2px;
    margin-top: 2%;
    text-decoration: none; }
    .checkbtn .btn:hover {
      background-color: #dddbd1;
      color: #494c49;
      -webkit-box-shadow: 1px 2px 0 0 rgba(198, 198, 186, 0.75);
      box-shadow: 1px 2px 0 0 rgba(198, 198, 186, 0.75); }

body {
  overflow: hidden; }

#app {
  font-size: 1em;
  width: 100%;
  height: auto; }

.intro {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container {
  width: 72%;
  height: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
  grid-template-rows: 40% 60%;
  -webkit-transform: translate(2%, -7%);
  -ms-transform: translate(2%, -7%);
  transform: translate(2%, -7%); }
  .container .top {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 44% 38% 38%;
    grid-template-rows: 44% 38% 38%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center; }
    .container .top .subtitle {
      top: -15%; }
  .container .bottom {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
    grid-template-columns: 70% 30%; }
    .container .bottom .operation {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 34% 22% 22% 22%;
      grid-template-columns: 34% 22% 22% 22%;
      -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
      justify-items: center; }
      .container .bottom .operation .symbol {
        line-height: 200px;
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end; }
      .container .bottom .operation .unit {
        -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
        top: 38%;
        left: -4%; }
      .container .bottom .operation .min {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4; }
    .container .bottom .state {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
      justify-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .container .bottom .state .depiction {
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
        left: -4%; }
      .container .bottom .state .button {
        width: 70%;
        height: auto;
        text-align: center;
        padding: 1.5% 0px;
        left: -11%;
        letter-spacing: 6px; }

.bar {
  position: absolute;
  left: 25%;
  width: 29.6px;
  height: 592px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .bar .logo {
    position: absolute;
    left: -20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10; }

.inner {
  width: 29.6px;
  height: 37px;
  opacity: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translateY(555px);
  -ms-transform: translateY(555px);
  transform: translateY(555px);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.num {
  position: absolute;
  left: 50px; }

.groupQuestion {
  width: 40%;
  height: auto;
  left: 32%; }
  .groupQuestion .title {
    margin-bottom: 20px; }
  .groupQuestion .option {
    margin-bottom: -10px; }

#ques0 {
  margin-top: 3.5%; }

#ques3 {
  margin-top: 3.5%; }

#ques6 {
  margin-top: 3.5%; }

#ques9 {
  margin-top: 3.5%; }

#ques12 {
  margin-top: 3.5%; }

#ques1 {
  margin-top: 2.3%; }

#ques4 {
  margin-top: 2.3%; }

#ques7 {
  margin-top: 2.3%; }

#ques10 {
  margin-top: 2.3%; }

#ques13 {
  margin-top: 2.3%; }

#ques2 {
  margin-top: 2.3%; }

#ques5 {
  margin-top: 2.3%; }

#ques8 {
  margin-top: 2.3%; }

#ques11 {
  margin-top: 2.3%; }

#ques14 {
  margin-top: 2.3%; }

.nextBtn {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 32%;
  top: 107%;
  background-image: url("../asset/img/button/黃色按鈕.png");
  background-size: cover; }
  .nextBtn:hover {
    background-image: url("../asset/img/button/灰按鈕.png");
    background-size: cover; }

.resultBtn {
  position: absolute;
  font-size: 20px;
  background-color: #494c49;
  color: #ffffff;
  left: 39%;
  top: 105%;
  padding: 0.3% 4%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 2px #cccccc;
  box-shadow: 0px 5px 2px #cccccc;
  letter-spacing: 2px; }
  .resultBtn:hover {
    background-color: #dddbd1;
    color: #494c49; }

#results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  width: 70%;
  height: 600px; }

#result0, #result1, #result2 {
  padding: 10px;
  cursor: pointer;
  width: 33.33333%;
  height: 100%;
  height: 100% !important;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s; }
  #result0:hover, #result1:hover, #result2:hover {
    -webkit-box-flex: 15;
    -ms-flex: 15;
    flex: 15;
    -webkit-transition-duration: 2.5s;
    -o-transition-duration: 2.5s;
    transition-duration: 2.5s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  #result0 .title, #result1 .title, #result2 .title {
    position: absolute;
    width: 40px;
    height: 95%;
    padding-top: 20px;
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s; }
  #result0 .People, #result1 .People, #result2 .People {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 400px;
    height: auto;
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
    background-color: transparent; }
  #result0 .depiction, #result1 .depiction, #result2 .depiction {
    position: absolute;
    width: 750px;
    height: auto;
    top: 220px;
    left: 80px;
    opacity: 0;
    -webkit-transition-delay: -0.3s;
    -o-transition-delay: -0.3s;
    transition-delay: -0.3s; }
  #result0:hover .depiction, #result1:hover .depiction, #result2:hover .depiction {
    top: 150px;
    opacity: 1;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    display: inline-block; }
  #result0 .stars, #result1 .stars, #result2 .stars {
    position: absolute;
    left: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 230px;
    height: auto;
    -webkit-transition-delay: 1.0s;
    -o-transition-delay: 1.0s;
    transition-delay: 1.0s; }
    #result0 .stars .star, #result1 .stars .star, #result2 .stars .star {
      width: 15%;
      height: auto;
      margin-left: 5%;
      margin-top: 8%; }
      #result0 .stars .star img, #result1 .stars .star img, #result2 .stars .star img {
        width: 100%;
        height: auto;
        -webkit-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s; }
  #result0 .open, #result1 .open, #result2 .open {
    opacity: 0;
    -webkit-transition-delay: -0.3s;
    -o-transition-delay: -0.3s;
    transition-delay: -0.3s; }

.footer {
  position: absolute;
  bottom: 0px; }

.container .title {
  font-size: 50px; }

.container .subtitle {
  font-size: 20px; }

.container .symbol {
  font-size: 230px;
  color: #8c7f71;
  letter-spacing: 12px; }

.container .unit {
  font-size: 25px;
  border-radius: 100px; }

.container .depiction {
  letter-spacing: 1.4px;
  line-height: 38px;
  font-size: 28px; }

.container .button {
  border-radius: 100px;
  background-color: #494c49;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  -webkit-box-shadow: 0px 5px 2px #cccccc;
  box-shadow: 0px 5px 2px #cccccc; }
  .container .button:hover {
    background-color: #dddbd1;
    color: #494c49; }

.logo {
  max-width: 70px; }

.bar {
  border: solid 1px #c4c4c2;
  background: #f2f2f2;
  border-radius: 30px;
  -webkit-box-shadow: 1px 2px 0 0 rgba(198, 198, 186, 0.75);
  box-shadow: 1px 2px 0 0 rgba(198, 198, 186, 0.75); }

.inner {
  background: #c4c4c2;
  color: #8c7f71;
  border: solid 1px #b3b3b3;
  border-radius: 30px; }

.title {
  font-size: 24px; }

.logo {
  background-color: transparent; }

input[type=radio] {
  display: none; }
  input[type=radio]:checked + .labelOuter label {
    background-color: #e3e4e7;
    border-radius: 50px; }

.labelOuter {
  width: auto;
  height: 35px;
  margin-top: 5px; }

label {
  font-size: 22px;
  width: 20px;
  height: 35px; }
  label:hover {
    cursor: pointer; }

#ques1 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques2 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques3 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques4 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques5 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques6 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques7 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques8 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques9 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques10 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques11 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques12 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques13 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques14 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques15 .gem {
  visibility: hidden;
  background-color: #f24; }

#ques11 .labelOuter {
  display: inline-block;
  width: calc(100% / 3.7);
  height: auto; }

#ques11 .option {
  width: 100%;
  height: auto; }

#ques11 .gem {
  visibility: visible;
  margin-top: 10%;
  margin-left: 33%;
  width: 25%;
  height: auto; }

#results {
  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
  border-radius: 20px; }

.resultContainer {
  border-radius: 30px; }
  .resultContainer .title {
    background-color: #e3e4e7;
    border-radius: 20px;
    text-align: center; }

#result1 {
  border-left: solid 2px #cccccc;
  border-right: solid 2px #cccccc;
  border-radius: 0px; }

.container .bottom .state .depiction {
  letter-spacing: 0px;
  line-height: 38px;
  font-size: 24px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  top: 40px; }

label {
  font-size: 18px; }

.groupQuestion {
  width: 45%;
  height: auto; }

#ques11 {
  width: 50%;
  height: auto; }

#result0 .People, #result1 .People, #result2 .People {
  right: 0px;
  bottom: 10%; }

#result0 .title, #result1 .title, #result2 .title {
  position: absolute;
  font-size: 20px;
  width: 95%;
  height: 40px;
  padding: 0px;
  bottom: 0px; }

#result2 {
  height: 100% !important;
  -webkit-transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important;
  transform: translateX(0px) !important; }

html, body {
  overflow-x: hidden; }
